<!DOCTYPE html>
<html lang="en">
<head>
	<title>Error 404</title>
	<link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
	<h1>{{message}}</h1>
	<h2>{{error.status}}</h2>
	<pre>#{{error.stack}}</pre>
</body>
</html>