<!DOCTYPE html>
<html lang="nl" data-ng-app="customFood">
<head>
	<meta charset="utf-8" />

	<link rel="stylesheet" href="assets/css/angular-material.css">
	<link rel="stylesheet" href="assets/css/style.css" />

	<title>Custom Food</title>
</head>
<body data-ng-controller="appController" layout>

	<div layout="row" flex>
		<md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-lg')">
			<md-toolbar layout="row" class="md-toolbar-tools">
				<h2>Menu</h2>
			</md-toolbar>
			<md-content layout="column" flex role="navigation" class="md-default-theme">

				<ul class="nav-items">
					<li data-ng-repeat="menuItem in menuItems">
						<menu-link>
							<a class="md-button md-default-theme"
								ng-class="{'active' : isSelected()}"
								ng-click="focusSection()"
								ui-sref="{{ menuItem.url }}"
								md-ink-ripple>
								<md-icon md-svg-src="/assets/img/icons/{{ menuItem.icon }}"
									alt="{{ menuItem.name }}">
								</md-icon>
								<span>{{ menuItem.name }}</span>
							</a>
						</menu-link>
					</li>
				</ul>

				<md-button ng-click="toggle()" class="md-warn" hide-gt-lg>
					Sluit menu
				</md-button>

			</md-content>

		</md-sidenav>
		<div layout="column" flex id="content">
			<md-toolbar layout="row" class="md-toolbar-tools">
				<div class="md-toolbar-tools">
					<md-button class="md-icon-button" aria-label="Menu" data-ng-click="toggle()" hide-gt-lg>
						<md-icon md-svg-icon="assets/img/icons/menu.svg"></md-icon>
					</md-button>
					<h1 class="center" flex>Custom Food</h1>
				</div>
			</md-toolbar>
			<md-content layout="column" flex ui-view></md-content>
		</div>
	</div>

	<!-- === SCRIPTS === -->
	<!--  LIBS -->
	<script src="assets/js/libs/lodash.min.js"></script>
	<script src="assets/js/libs/angular.min.js"></script>
	<script src="assets/js/libs/angular-aria.min.js"></script>
	<script src="assets/js/libs/angular-animate.min.js"></script>
	<script src="assets/js/libs/angular-material.min.js"></script>
	<script src="assets/js/libs/angular-ui-router.js"></script>


	<!-- ANGULAR INIT -->
	<script src="app/init.js"></script>

	<!-- ANGULAR UI COMPONENTS -->
	<script src="app/router.js"></script>
	<script src="app/theme.js"></script>

	<!-- ANGULAR CONTROLLERS -->
	<script src="app/appController.js"></script>
	<script src="app/components/home/homeController.js"></script>
	<script src="app/components/preferences/preferencesController.js"></script>
	<script src="app/components/products/productsController.js"></script>
	<script src="app/components/orders/ordersController.js"></script>

</body>
</html>