.center {
  text-align: center;
}
.nav-items {
  margin: 0;
  padding: 0;
}
.nav-items .md-button {
  border-bottom: 1px solid #f1f1f1;
  border-radius: 0;
  color: inherit;
  cursor: pointer;
  display: block;
  line-height: 50px;
  margin: 0;
  max-height: 50px;
  overflow: hidden;
  padding: 0px 16px;
  text-align: left;
  text-decoration: none;
  white-space: normal;
  width: 100%;
}
